<span ng-init="$parent.$parent.page = 'One time Payment'"></span>
<h1>account card pay</h1>
<div ng-repeat="bill in outstandingBills.bills" style="border-bottom: 1px solid;">
  <span>Memory use charge: </span>${{bill.memoryUsed}}
  <br/>
  <span>Bandwidth charge: </span>${{bill.bandwidth}}
  <br/>
  <span>Put charge: </span>${{bill.puts}}
  <br/>
  <span>Get charge: </span>${{bill.gets}}
  <br/>
  <span>Base charge: </span>${{bill.baseCharge}}
</div>
<span>Total charge: </span>${{outstandingBills.totalDue}}
<form stripe-form="payCard">
  <span class="payment-errors"></span>

  <div class="form-row">
    <label>
      <span>Name</span>
      <input type="text" ng-model="name"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Email</span>
      <input type="text" ng-model="email"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Card Number</span>
      <input type="text" ng-model="number" payments-validate="card" payments-type-model="type" payments-format="card"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <input type="text" ng-model="cvc" payments-validate="cvc" payments-type-model="type" payments-format="cvc"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration (MM/YYYY)</span>
      <input type="text" ng-model="expiry" payments-validate="expiry" payments-format="expiry"/>
    </label>
  </div>

  <span ng-for="error in alert.errors">
    <p class="alert alert-danger" ng-show="error" ng-bind="error"></p>
  </span>
  <button type="btn">Submit Payment</button>
  <button type="btn btn-success" ui-sref="^.balanceOverdue" ng-show="noticeOverdue">Back</button>
  <button type="btn btn-success" ui-sref="^.balanceDue" ng-show="noticeDue">Back</button>
  <button type="btn btn-success" ng-click="$parent.eventFnxs.continue()" ng-show="noticeDue">Pay Later</button>
</form>