<span ng-init="$parent.$parent.page = 'One time Payment'"></span>
<div ng-repeat="bill in outstandingBills.bills" style="border-bottom: 1px solid;">
  <span>Memory use charge: </span>${{bill.memoryUsed.toFixed(2)}}
  <br/>
  <span>Bandwidth charge: </span>${{bill.bandwidth.toFixed(2)}}
  <br/>
  <span>Put charge: </span>${{bill.puts.toFixed(2)}}
  <br/>
  <span>Get charge: </span>${{bill.gets.toFixed(2)}}
  <br/>
  <span>Base charge: </span>${{bill.baseCharge.toFixed(2)}}
</div>
<span>Total charge: </span>${{outstandingBills.totalDue}}
<form stripe-form="payCard">
  <span class="payment-errors"></span>

  <div class="form-row">
    <label>
      <span>Name</span>
      <input type="text" ng-model="name"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Email</span>
      <input type="text" ng-model="email"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Card Number</span>
      <input type="text" ng-model="number" payments-validate="card" payments-type-model="type" payments-format="card"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <input type="text" ng-model="cvc" payments-validate="cvc" payments-type-model="type" payments-format="cvc"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration (MM/YYYY)</span>
      <input type="text" ng-model="expiry" payments-validate="expiry" payments-format="expiry"/>
    </label>
  </div>

  <br/>
  <alert ng-show="alert" type="{{alert.type}}">{{alert.msg}}</alert>
  <br/>
  <button class="btn btn-primary" ng-show="!balancePaid">Submit Payment</button>
  <button type="button" class="btn btn-info" ui-sref="^.balanceOverdue" ng-show="$parent.data.overdue && !balancePaid">Back</button>
  <button type="button" class="btn btn-info" ui-sref="^.balanceDue" ng-show="$parent.data.due && !balancePaid">Back</button>
  <button type="button" class="btn btn-default" ng-click="$parent.eventFnxs.continue()" ng-show="$parent.data.due && !balancePaid">Pay Later</button>
  <button type="button" class="btn btn-default" ng-click="$parent.eventFnxs.continue()" ng-show="balancePaid">Continue</button>
</form>