<span ng-init="$parent.$parent.page = 'Update Card'"></span>
<form stripe-form="updateCard">
  <span class="payment-errors"></span>

  <p> Card is not displayed for security reasons. You will be notified via email if your card is declined.</p>

  <div class="form-row">
    <label>
      <span>Name</span>
      <input type="text" ng-model="name"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Email</span>
      <input type="text" ng-model="email"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Card Number</span>
      <input type="text" ng-model="number" payments-validate="card" payments-type-model="type" payments-format="card"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <input type="text" ng-model="cvc" payments-validate="cvc" payments-type-model="type" payments-format="cvc"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration (MM/YYYY)</span>
      <input type="text" ng-model="expiry" payments-validate="expiry" payments-format="expiry"/>
    </label>
  </div>
  <br/>
  <alert ng-show="alert" type="{{alert.type}}">{{alert.msg}}</alert>
  <br/>
  <button class="btn btn-primary">Update Card</button>
  <button type="button" class="btn btn-info" ui-sref="^.balanceOverdue" ng-show="$parent.data.overdue">Back</button>
  <button type="button" class="btn btn-info" ui-sref="^.balanceDue" ng-show="$parent.data.due">Back</button>
  <button type="button" class="btn btn-default" ng-click="$parent.eventFnxs.continue()" ng-show="$parent.data.due">Pay Later</button>
</form>