<input type='text' ng-model="username" style="width:800px" class='form-control' placeholder='Username or Email'></input>
<br/>
<br/>
<input type='password' ng-model="password" style="width:800px" class='form-control' placeholder='Password'></input>
<br/>
<br/>
<button type='button' ng-click="login(username, password)" class='btn btn-primary'>Sign In</button>
<button type='button' class='btn btn-primary' ng-click="go('/ap-views/forgot-password')">
	Forgot Password
</button>
<button type='button' style="float:right" class='btn btn-primary' ng-click="go('/ap-views/signup')">
	New User
</button>