<div>
<angucomplete id="apollo-editors" placeholder="Email or Username" selectedObject="user" url="http://localhost:3000/caas/search/user/" titlefield="username,email" minlength="1" inputclass="angucomplete-form-control"/>
</div>
<br ng-show="alert.msg"/>
<alert ng-show="alert.msg" type="{{alert.type}}">{{alert.msg}}</alert>
<br/>
<div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<td>
					Editors
				</td>
				<td>
					Username
				</td>
				<td>
					Email
				</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="editor in editors">
				<td>
					<a ui-sref=".">
						<span ng-click="remove(editor.username)" class="apollo-hand glyphicon glyphicon-remove"></span>
					</a>
				</td>
				<td>
					{{editor.username}}
				</td>
				<td>
					{{editor.email}}
				</td>
			</tr>
		</tbody>
	</table>
</div>