<div class="row" style="position:relative;">
  <div class="col-md-6" style="height: 100%">
    <div treecontrol class="tree-light"
       tree-model="data"
       options="treeOptions"
       on-selection="showSelected(node)"
       selected-node="current">
       {{node.type}}: {{node.value}}
    </div>
    <br/>
    <alert ng-show="alert.msg" type="{{alert.type}}">{{alert.msg}}</alert>
    <br/>
    <br ng-hide="alert.msg"/>
    <br ng-hide="alert.msg"/>
    <div style="bottom:0px; position: absolute; display: block;">
      <button type="button" class="btn btn-danger" ng-disabled="!deleteType" ng-click="delete()">Delete {{deleteType}}</button>
      <button type="button" class="btn btn-primary" ng-click="addProject()">Add {{addType}}</button>
      <button type="button" class="btn btn-info" ng-disabled="node" ng-click="addItem()">{{addItem.msg}}</button>
    </div>
  </div>
  <div class="col-md-6" style="overflow:true">
    <div ap-block block-target="apProjectManagement">
    </div>
  </div>
</div>