<div class="row">
  <div class="col-md-6">
    <div treecontrol class="tree-light"
       tree-model="data"
       options="treeOptions"
       on-selection="showSelected(node)"
       selected-node="current">
       {{node.type}}: {{node.value}}
    </div>
    <br/>
    <alert ng-show="alert.msg" type="{{alert.type}}">{{alert.msg}}</alert>
    <br ng-hide="alert.msg"/>
    <br ng-hide="alert.msg"/>
    <br ng-hide="alert.msg"/>
    <div style="margin-bottom:0px">
      <button type="button" class="btn btn-danger" ng-disabled="!selected" ng-click="delete()">{{deleteBtn.msg}}</button>
      <button type="button" class="btn btn-primary" ng-click="addProject()">Add Project</button>
      <button type="button" class="btn btn-info" ng-disabled="node" ng-click="addItem()">{{addItem.msg}}</button>
    </div>
  </div>
  <div class="col-md-6" style="overflow:true">
    <div ap-block block-id="coolBlock">
    </div>
  </div>
</div>