<nav class="navbar navbar-default" role="navigation">
	<center>
		<div>
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Apollo</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="#/ap-views/account" ng-click="openModal()">Account</a>
					</li>
					<li>
						<a href="#/ap-views/manage-editors" ng-click="openModal()">Manage Editors</a>
					</li>
					<li>
						<a href="#/ap-views/project-management" ng-click="openModal()">Project Management</a>
					</li>
					<li>
						<a href="#/ap-views/help" ng-click="openModal()">Help and Support</a>
					</li>
					<li>
						<a href="#" ng-click="logout()">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</center>
</nav>